<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Epstein-Peterson method</title>
</head>
<body>
    <h1>Calculate attenuation between two points using Epstein-Peterson method</h1>
    <form action="/calculate" method="post">
        <label for="lat1">Enter first lattitude:</label>
        <input type="text" id="lat1" name="lat1" required>
        <label for="long1">Enter first longitude:</label>
        <input type="text" id="long1" name="long1" required>
        <br><br>
        <label for="lat2">Enter last lattitude:</label>
        <input type="text" id="lat2" name="lat2" required>
        <label for="long2">Enter last longitude:</label>
        <input type="text" id="long2" name="long2" required>
        <br><br>
        <button type="submit">Calculate</button>
    </form>
</body>
</html>